@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.mapContainer {
	background: gray;
	width: 100%;
	height: 300px;
	border-radius: 2rem;
	overflow: hidden;

	@include media-query("lg") {
		height: 300px;
	}
}
