@import "@/designSystem/variables";
@import "@/designSystem/mediaQueries";

.portrait {
	display: flex;
	align-items: start;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 300px;

	border-radius: 2rem;
	background-color: var(--primary-main);

	@include media-query("md") {
		align-items: center;
	}

	&--center {
		align-items: center;
	}

	&--medium {
		@include media-query("md") {
			height: 250px;
		}
	}

	&--small {
		@include media-query("md") {
			height: 200px;
		}
	}

	.name {
		position: absolute;
		left: 20px;
		bottom: 20px;
		color: var(--neutral-light);
	}

	.gradient {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 50%;
		background: var(--neutral-background-shade);
	}
}
